<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CodeTeaser</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="logo" class="navbar-brand" href="#">CodeTeaser</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="home2.html">Home</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="teaser.html">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        CodeTeaser
                    </a>
                </li>
                <li>
                    <a href="">Dashboard</a>
                </li>
                <li>
                    <a href="#">My Submissions</a>
                </li>
                <li>
                    <a href="#">Judge's Status</a>
                </li>
                <li>
                    <a href="#">Ranklist</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10">
                        <h1>Beginner Problems</h1><div class="table-responsive">
			            <table class="table table-striped">
            			  <thead>
			                <td></td>
            			    <td></td>
            			  </thead>
            			  <tbody>
            			    <tr>
            			      <td></td>
            			      <td>
            			      	<h4><a href="1001.html">1001 - Can you add this???</a></h4>
            			      </td>
                			</tr>
            			    <tr>
            			      <td></td>
            			      <td><h4><a href="1002">1002 - Problem 1002</a></h4></td>
                			</tr>
            			    <tr>
            			      <td></td>
            			      <td><h4><a href="1003">1003 - Problem 1003</a></h4></td>
                			</tr>
            			    <tr>
            			      <td></td>
            			      <td><h4><a href="1004">1004 - Problem 1004</a></h4></td>
                			</tr>
<!--                    <ul>-->
<!--                      <li><a href="function.html">Section 1: Function</a></li>-->
<!--                      <li><a href="">Section 2: Real Numbers</a></li>-->
<!--                      <li><a href="">Section 3: Complex Numbers</a></li>-->
<!--                    </ul>-->
<!--                    <span class="text-muted">Complete One Section To Move To Another</span>-->
                
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
