.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href=" {% static '../../favicon.ico' %}">
    <link rel="stylesheet" href=" {% static 'css/home.css' %}">
    <title>Solution Posting Page</title>

    <!-- Bootstrap core CSS -->
    <link href=" {% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href=" {% static 'css/dashboard.css' %}" rel="stylesheet">
    <script src=" {% static 'js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="logo" class="navbar-brand" href="#">CodeTeaser</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="home">Home</a></li>
            <li><a href="profile">Profile</a></li>
            {% if user.is_admin %}
	            <li><a href="post_solution">Post Solution</a></li>
            {% endif %}
            <li><a href="logout">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main">
          <h2 class="page-header">Post the solution problem</h2>
          <form enctype="multipart/form-data" id="posting_form" action="post_solution" method="POST" role="form" style="display: block;">{% csrf_token %}
          	{% for x in solnform %}
            <div>
              <h3><span class="btn btn-primary">{{ x.label }}</span></h3>
              {{ x }}
              {{ x.errors }}
            </div>
            {% endfor %}
            {% for x in tcaseform %}
            <div>
              <h3><span class="btn btn-primary">{{ x.label }}</span></h3>
              {{ x }}
              {{ x.errors }}
            </div>
            {% endfor %}
<!--            <div>-->
<!--              <h3><span class="btn btn-primary">Problem Title</span></h3>-->
<!--              <input type="text" class="form-control" id="title">-->
<!--            </div>-->
<!--            <div>-->
<!--              <h3><span class="btn btn-primary">Problem Statement</span></h3>-->
<!--              <textarea class="form-control" rows="30" id="stmnt"></textarea>-->
<!--            </div>-->
<!--            <div>-->
<!--              <h3><span class="btn btn-primary">Constrains</span></h3>-->
<!--              <textarea class="form-control" rows="30" id="cnstrn"></textarea>-->
<!--            </div>-->
<!--            <div>-->
<!--              <h3><span class="btn btn-primary">Sample Input</span></h3>-->
<!--              <textarea class="form-control" rows="10" id="smpinput"></textarea>-->
<!--            </div>-->
<!--            <div>-->
<!--              <h3><span class="btn btn-primary">Sample Output</span></h3>-->
<!--              <textarea class="form-control" rows="10" id="smpoutput"></textarea>-->
<!--            </div>-->
<!--            -->
<!--            <div>-->
<!--              <h3><span class="btn btn-primary">Solution Code</span></h3>-->
<!--              <textarea class="form-control" rows="10" id="soln"></textarea>-->
<!--            </div>-->
<!--            <div>-->
<!--              <table>-->
<!--		          <td><h3><span class="btn btn-primary">Solution Code.</span></h3></td>-->
<!--		          <td><span class="btn btn-default btn-file">-->
<!--						 <input type="file" id="soln">-->
<!--				  </span></td>-->
<!--			  </table>-->
<!--            </div>-->
<!--            <div class="dropdown">-->
<!--			  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Language-->
<!--			  <span class="caret"></span></button>-->
<!--			  <ul class="dropdown-menu" id="lang">-->
<!--				<li><a>C</a></li>-->
<!--				<li><a>C++</a></li>-->
<!--				<li><a>Java</a></li>-->
<!--			  </ul>-->
<!--			</div>-->
<!--			-->
<!--            <div>-->
<!--              <h3><span class="btn btn-primary">Judging Cases</span></h3>-->
<!--              <textarea class="form-control" rows="10" id="cases"></textarea>-->
<!--            </div>-->
<!--            <div>-->
<!--              <table>-->
<!--	            <td><h3><span class="btn btn-primary">Judging Cases.</span></h3></td>-->
<!--            	<td><span class="btn btn-default btn-file"> <input type="file" id="cases"></td>-->
<!--				</span>-->
<!--			  </table>-->
<!--            	-->
<!--            </div>-->
            <div>
              <br><button type="submit" class="btn btn-default">Submit Solution</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src=" {% static 'js/bootstrap.min.js' %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src=" {% static 'js/vendor/holder.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src=" {% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
