<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CodeTeaser</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<header class="navbar navbar-default navbar-static-top" role="banner">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="logo" class="navbar-brand" href="#">CodeTeaser</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/algo/home">Home</a></li>
            <li><a href="/algo/profile">Profile</a></li>
            <li><a href="/algo/logout">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
</header>
<!-- Begin Body -->
<div class="container">
	<div class="row">
  			<div class="col-md-3" id="leftCol">
              	
				<div class="well"> 
              	<ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#sec0">Problem Statement</a></li>
                  <li><a href="#sec1">Input</a></li>
                  <li><a href="#sec2">Output</a></li>
                  <li><a href="#sec3">Constrains</a></li>
                  <li><a href="#sec4">Sample I/O</a></li>
                  <li><a href="/algo/submit/{{pset.problem_id}}">Submit</a></li>
                  <li><a href="#sec5">My Submissions</a></li>
<!--                  <li><a href="#sec6">Tutorial</a></li>-->
              	</ul>
  				</div>

      		</div>  
      		<div class="col-md-9">
              	<h2 id="sec0">{{pset.title}}</h2>
            
           
              	<hr class="col-md-12">
              		<p>{{pset.statement|linebreaks}}</p>              
              	<hr>
              	
              	<h2 id="sec1">Input Format</h2>
              	<hr class="col-md-12">
              		<p>{{pset.input_format|linebreaks}}</p>              
              	<hr>
              	
              	<h2 id="sec2">Output Format</h2>
              	<hr class="col-md-12">
              		<p>{{pset.output_format|linebreaks}}</p>              
              	<hr>
              	
              	<h2 id="sec3">Constrains</h2>
		          	<hr class="col-md-12">
		          		<p>{{pset.constrains|linebreaks}}</p>              
		          	<hr>
              		<ul style="list-style-type:disc">
			          	<li><b>Time Limit:</b>{{pset.time_limit}} miliseconds<br/></li>
			          	<li><b>Memory Limit:</b>{{pset.mem_limit}} kilobytes<br/></li>
              		</ul>
              		<ht>
              	<hr>
              	
              	<h2 id="sec4">Sample Input/Output</h2>
              	<p>
              	<div class="row">
                  <div class="col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3>Input.</h3></div>
                      <div class="panel-body">
                      	{{pset.sample_input|linebreaks}}
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="panel panel-default">
                      <div class="panel-heading"><h3>Output</h3></div>
                      <div class="panel-body">
                      	{{pset.sample_output|linebreaks}}
                      </div>
                    </div>
                  </div>  
              	</div>
              
				
				<h2 id="sec5">My Submissions</h2>
					<hr>
					{% if my_submissions %}
					<div class="table-responsive">
						<table class="table">
						<thead>
			                <td><h4><b>Submission ID</b></h4></td>
			                <td><h4><b>Language</b></h4></td>
            			    <td><h4><b>Verdict</b></h4></td>
            			    <td><h4><b>Time (sec)</b></h4></td>
            			    </b>
						</thead>
            			<tbody>
            			  	{% for sub in my_submissions %}
            			    <tr>
					            <td>{{sub.submission_id}}</td>
					            <td>{{sub.language.lang}}</td>
		        			    <td><font color="{{sub.verdict.verd.colour}}">{{sub.verdict.verd.vmsg}}</font></td>
		        			    <td>{{sub.verdict.running_time|floatformat:3}}</td>
                			</tr>
                			{% endfor %}
                		</tbody>
	                	</table>
					</div>
					{% else %}
					<div>
						You don't have any submission for this problem.
					</div>
                	{% endif %}
              	<hr>
              	
<!--              	<h2 id="sec6">Tutorial</h2>-->
<!--              		<hr>-->
<!--              		<p>You have the lock the problem first to read the editorial.</p>-->
<!--              		-->
<!--					<button type="button" class="btn btn-info">Lock!</button>-->
              	
              	
      		</div> 
  	</div>
</div>

</html>

