<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CodeTeaser</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<header class="navbar navbar-default navbar-static-top" role="banner">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="logo" class="navbar-brand" href="#">CodeTeaser</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="dashboard">Home</a></li>
            
            <li><a href="profile">
					{% if user.is_authenticated %}
						{{ user.username}}
					</a></li>
						{% if user.is_admin %}
							<li><a href="post_problem">Post Problem</a></li>
						{% endif %}
            <li><a href="logout">Log Out</a></li>
					{% else %}
			<li><a href="login">Log In</a></li>		
					{% endif %}			
          </ul>
        </div>
      </div>
    </nav>
</header>
    
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="/algo/">Dashboard</a>
                </li>
                <li>
                    <a href="/algo/problems">Browse Problems</a>
                </li>
                <li>
                    <a href="/algo/submissions/user=my">My Submissions</a>
                </li>
                <li>
                    <a href="/algo/submissions/user=all">Judge's Status</a>
                </li>
                <li>
                	<a href="/algo/ranklist">Ranklist</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10">
                        <h1>Problem Categories</h1><div class="table-responsive">
			            <table class="table table-striped">
            			  <thead>
			                <td></td>
            			    <td></td>
            			  </thead>
            			  <tbody>
            			    <tr>
            			      <td></td>
            			      <td><h4><a href="/algo/problems/cat=BGNR">Beginners' Problems</a></h4></td>
                			</tr>
            			    <tr>
            			      <td></td>
            			      <td><h4><a href="/algo/problems/cat=DP">Dynamic Programming Problems</a></h4></td>
                			</tr>
            			    <tr>
            			      <td></td>
            			      <td><h4><a href="cat_graph">Graph Theory</a></h4></td>
                			</tr>
            			    <tr>
            			      <td></td>
            			      <td><h4><a href="cat_ds">Data Structures</a></h4></td>
                			</tr>
                		</table>
<!--                    <ul>-->
<!--                      <li><a href="function.html">Section 1: Function</a></li>-->
<!--                      <li><a href="">Section 2: Real Numbers</a></li>-->
<!--                      <li><a href="">Section 3: Complex Numbers</a></li>-->
<!--                    </ul>-->
<!--                    <span class="text-muted">Complete One Section To Move To Another</span>-->
                
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
